@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --font-sans: "Source Sans 3", Helvetica, Arial, sans-serif;
  --font-code: "Source Code Pro", Helvetica, Arial, sans-serif;
  --font-serif: "Source Serif 4", Times New Roman, serif;

  font-family: var(--font-sans);
}

/* FLEX STYLES */
.container {
  width: 60%;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: purple;
}

.flex {
  display: flex;
  /* border: solid 2px red; */
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--nav {
  justify-content: space-between;
}

/* LAYOUT ELEMENTS */
html,
html * {
  padding: 0;
  margin: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  background: RGB(242, 242, 242);
}

.sidebar {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 RGBA(0, 0, 0, 0.25);
  animation: slideInFromLeft 1.5s ease-in-out;
  max-width: 40ch;
  height: 100vh;
}

.nav--main {
  display: flex;
  font-size: 1.8rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.logo {
  width: 288px;
  margin: auto;
  display: block;
  padding-top: 1rem;
}

.desc {
  font-family: var(--font-code);
  font-size: 1.5rem;
  padding: 1rem 0 2rem 0;
  display: block;
  /* border: solid 1px pink; */
}

.nav--list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
  /* border: solid 1px cornflowerblue; */
}

.nav--item a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 2pt;
  text-decoration: none;
  color: dodgerblue;
  text-align: center;
  display: block;
  background-color: #ffffff;
}

main {
  opacity: 0;
  width: 100%;
  padding: 4rem 6rem;
  animation: fadeIn 500ms ease-in 1.5s forwards;
}

.footer-text {
  color: #231f20;
  padding: 2rem 0;
}

.col-header {
  padding: 0;
  vertical-align: middle;
}

.col {
  width: 100%;
  vertical-align: middle;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.intro {
  padding: 4rem 2rem 2rem;
}

.hero {
  background-image: url(#);
  background-size: cover;
  padding: 1em 1em 3em 1em;
  text-align: center;
}

.info-box h3,
.info-box h4,
.info-box h6,
.info-box p,
.info-box a {
  color: #ffffff;
}

.info-box-tan {
  background-color: #b9a88e;
  color: #ffffff;
  padding: 30px 20px 60px;
  text-align: center;
}

.info-box-dark {
  background-color: #2d2d35;
  color: #ffffff;
  padding: 30px 20px 60px;
  text-align: center;
}

.image-overlay {
  text-align: center;
  background-color: #b9a88e;
  background-size: cover;
  padding: 30px 20px 60px;
}

.image-overlay h1 h2 h3 h4 h5 h6 p a {
  padding-top: 2rem;
  display: inline-block;
}

.image-background-1 {
  background-image: url(#);
}

.image-background-2 {
  background-image: url(#);
}
.image-background-3 {
  background-image: url(#);
}
.image-background-4 {
  background-image: url(#);
}

.button {
  border: 2px #ffffff solid;
  padding: 1rem;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

.hero .button {
  border: 2px #231f20 solid;
  color: #231f20;
}

/* FONT FORMATTING */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #231f20;
  font-family: var(--font-sans);
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h2 {
  font-family: var(--font-code);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

h6 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-serif);
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ANIMATIONS */

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Tablet View
@media (min-width: 768px) {

    body {
		max-width: none;
	}
    
    .nav ul li {
        display: inline-block;
    }
    
    .nav ul {
        text-align: center;
    }
    
    .col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
}

 Laptop View 
@media (min-width: 1024px) {
    
    header {
        box-shadow: 8px 0em 32px 0 RGBA(0,0,0,0.25);
        animation: slideInFromLeft 1.5s ease-in-out;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 320px;
    }
    
    main {
        display: block;
        position: absolute;
        top: 80px;
        left: 220px;
        margin-top: 0;
        height: 100%;
    }
    
    footer {
        clear: both;
        text-align: center;
        padding-left: 320px;
    }
    
    .logo {
        float: left;
    }
    
    .desc {
        float: left;
        padding-top: 0;
    }
    
    .nav {
        padding-top: 0.5rem;
    }
    
    .nav ul li {
        display: block;
    }
    
    .nav ul li a {
        text-align: left;
        padding: 0.5rem 0;
    }
    
    .col-lg-one-fourth {
		width: 25%;
	}
    
}

*/
