@charset "UTF-8";
/* CSS Document */

html, html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

header {
    padding: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 0.25em 1em 0 gray;
    animation: slideInFromTop 1.5s ease-in-out;
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(0);
  }
}

body {
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
}

main {
    opacity: 0;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 500ms ease-in 1.5s forwards;
}

@keyframes fadeIn {
   0% {
       opacity: 0;
    }
   100% {
       opacity: 1;
    }
}

footer {
    background-color: #404040;
}

.footer-text {
    color: #FFFFFF;
    font-size: 0.75rem;
    padding: 2rem;
    text-align: center;
}

footer p {
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: #231F20;
    font-family: "Source Code Pro";
}

.style-logo {
    width: 288px;
    margin: auto;
    padding: 1rem;
    display: block;
}

.style-description {
    padding: 1rem 1rem 0;
    display: block;
    text-align: center;
}

.style-nav {
    padding: 0 1rem 1rem;
}

.style-nav ul {
    list-style-type: none;
}

.style-nav ul li a {
    font-family: "Source Code Pro";
    font-weight: 400;
    letter-spacing: 2pt;
    text-decoration: none;
    color: dodgerblue;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding: 0.5rem;
    background-color: #FFFFFF;
}

.col-header {
    padding: 0;
    vertical-align: middle;
}

.col {
	width: 100%;
    vertical-align: middle;
}

.row:before, .row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.intro {
    padding: 4rem 2rem 2rem;
}

.hero {
    background-image: url(#);
    background-size: cover;
    padding: 1em 1em 3em 1em;
    text-align: center;
}

.info-box h3, .info-box h4, .info-box h6, .info-box p, .info-box a { 
    color: #FFFFFF;
}

.info-box-tan {
	background-color: #b9a88e;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
}

.info-box-dark {
	background-color: #2D2D35;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
}

.image-overlay {
    text-align: center;
    background-color: #b9a88e;
    background-size: cover;
    padding: 30px 20px 60px;
}

.image-overlay h1 h2 h3 h4 h5 h6 p a {
    padding-top: 2rem;
    display: inline-block;
}

.image-background-1 {
    background-image: url(#);
}

.image-background-2 {
    background-image: url(#);
}
.image-background-3 {
    background-image: url(#);
}
.image-background-4 {
    background-image: url(#);
}

.button {
    border: 2px #FFFFFF solid;
    padding: 1rem;
    border-radius: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.hero .button {
    border: 2px #231F20 solid;
    color: #231F20;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2rem;
}

h6 {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 2rem;
}

p {
    padding-bottom: 1rem;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/* Tablet View */
@media (min-width: 768px) {

    body {
		max-width: none;
	}
    
	main {
		max-width: 778px;
	}
    
    .style-nav ul li {
        display: inline-block;
    }
    
    .style-nav ul {
        text-align: center;
    }
    
    .col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
}

/* Laptop View */
@media (min-width: 1024px) {
    
    header {
        box-shadow: 0.25em 0em 1em 0 gray;
        animation: slideInFromLeft 1.5s ease-in-out;
        position: fixed;
        height: 100%;
        float: left;
        z-index: 1;
        width:320px;
    }
    
    main {
        top: 0;
        left: 0;
        height: 100%;
        padding-left: 320px;
        max-width: calc(1200px - 4rem);

    }
    
    footer {
        clear: both;
        text-align: center;
        padding-left: 320px;
    }
    
    h1 {
    font-size: 4rem;
    }
 
    h2 {
    font-size: 3rem;
    }
    
    .style-logo {
        float: left;
    }
    
    .style-description {
        float: left;
        padding-top: 0;
    }
    
    .style-nav {
        float:left;
        padding-top: 0.5rem;
    }
    
    .style-nav ul li {
        display: block;
    }
    
    .style-nav ul li a {
        text-align: left;
        padding: 0.5rem 0;
    }
    
    .col-lg-one-fourth {
		width: 25%;
	}
    
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(0);
  }
}
