@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --font-sans: "Source Sans 3", Helvetica, Arial, sans-serif;
  --font-code: "Source Code Pro", Helvetica, Arial, sans-serif;
  --font-serif: "Source Serif 4", Times New Roman, serif;

  font-family: var(--font-sans);
}

/* FONT FORMATTING */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #231f20;
  font-family: var(--font-sans);
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h2 {
  font-family: var(--font-code);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

h6 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-serif);
}

/* FLEX STYLES */
.container-main {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  /* border: solid 2px red; */
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--nav {
  justify-content: space-between;
}

.flex--gap {
  gap: 4em;
}

.flex--wrap {
  flex-wrap: wrap;
}

/* LAYOUT ELEMENTS */
html,
html * {
  padding: 0;
  margin: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  background: RGB(242, 242, 242);
}

main {
  opacity: 0;
  width: 100%;
  padding: 4rem 6rem;
  animation: fadeIn 500ms ease-in 1.5s forwards;
  /* border: solid 3px salmon; */
}

/* Sidebar Styles */

.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 RGBA(0, 0, 0, 0.25);
  animation: slideInFromLeft 1.5s ease-in-out;
  max-width: 320px;
  height: 100svh;
  height: 100dvh;
}

.nav--main {
  display: flex;
  font-size: 1.8rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.logo {
  width: 288px;
  margin: auto;
  display: block;
  padding-top: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.desc {
  font-family: var(--font-code);
  font-size: 1.5rem;
  padding: 1rem 0 2rem 0;
  display: block;
  /* border: solid 1px pink; */
}

.nav--list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
  /* border: solid 1px cornflowerblue; */
}

.nav--item a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 2pt;
  text-decoration: none;
  color: dodgerblue;
}

/* Main Styles */

.project-desc {
  background-color: RGB(242, 242, 242);
  min-width: 30%;
}

.project-info {}

.project-canvas {
  background-color: RGB(229, 229, 229);

}

.canvas-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: RGB(242, 242, 242);
}

.canvas-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas-item img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}




/* ANIMATIONS */

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile View */
@media (width < 1024px) {
  .container-main {
    flex-direction: column;
  }

  .sidebar {
    position: fixed;
    z-index: 999;
  }

  main {
    padding: 4rem 2rem;
  }

}
